.App-wrapper {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.stride-text {
  font-size: 98px;
  font-family: "Pacifico", cursive;
}

#App-button {
  margin-top: 20px;
  background-color: #4500e6a9;
  border: 0;
  border-radius: 25px;
  width: 120px;
  box-shadow: 0 6px 6px -6px #000000;
}
